#contacts_table {
    margin-top: 1vh;
    background-color: #f6f8f0;
    border: 1px solid #9f553a;

    .tabulator-header {
        background-color: #f6f8f0;
        color: #9f553a;
        border-bottom: 3px solid #5e2c1a;
        margin-bottom: 5px;
        .tabulator-col,
        .tabulator-row-handle {
            white-space: normal;
        }
    }

    .tabulator-tableholder {
        .tabulator-table {
            .tabulator-row {
                color: #5e2c1a;
                background-color: #e0e3d8;
                .tabulator-cell {
                    &:first-child {
                        border-left: 10px solid #5e2c1a;
                    }
                }

                &:nth-child(even) {
                    background-color: #f6f8f0;
                }
            }
        }
    }
}
